$button-default-color : #F5F5F5 !default;
$button-default-color-disabled : $button-default-color !default;
$button-default-color-over : #F5F5F5 !default;
$button-toolbar-color : #F5F5F5 !default;
$button-toolbar-color-over : #F5F5F5 !default;

$button-default-background-color : #383838;
$button-default-background-color-over: #4574a4;
$button-default-background-color-focus: #383838;
$button-default-background-color-pressed: #383838;
$button-default-background-color-disabled: #383838;

$button-default-background-gradient : null;
$button-default-background-gradient-over : null;
$button-default-background-gradient-focus:null;
$button-default-background-gradient-pressed : null;
$button-default-background-gradient-disabled : null;

$button-small-padding :	3px;

$button-default-border-color : #222222;
$button-default-border-color-focus :#222222;
$button-default-border-color-over : #222222;
$button-default-border-color-pressed :  #222222;

$button-small-border-radius : 5px;

$button-small-border-width : 1px;
