<div ng-controller="HeaderController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header navbar-headercls">
                <a class="navbar-left"><img class="logo-imgcls" src="assets/logo.png"></a>
                <a class="navbar-brand header-title">{{ 'HEADER.TITLE' | translate }}</a>
                <div class="navbar-brand language-text">
                	<label>{{ 'HEADER.LANGUAGE.TITLE' | translate }}</label>
                </div>
                <div class="navbar-brand language">
                	<select ng-change="changeLanguage()" ng-model="selected" ng-options="language as language.desc for language in languages track by language.id">
                		
                	</select>
                </div>
            </div>         
        </div>
    </nav>
</div>