.x-btn-button{
	top : $custom-topvalue;
}
.x-btn-default-large-icon-text-top .x-btn-inner{
	
	line-height : inherit !important;
	top : $custom-topvalue;
}

.cxcz{
	top : $custom-topvalue;
}