<!-- include header component -->
<div>
  <app-header></app-header>
</div>

<div class="content">
	<div class="container">
		<h2>{{"Employee" | translate}}</h2>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="{{'search by name' | translate}}" [(ngModel)]="search">
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<h4>{{"Name"| translate}}</h4>
						</th>
						<th>
							<h4>{{"Age"| translate}}</h4>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let employee of employees | searchEmployee: {Name:search}">
						<td>{{employee.Name}}</td>
						<td>{{employee.Age}}</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>

<!-- include footer component -->
<div>
  <app-footer></app-footer>
</div>