.pdf-text-layer {
    position: absolute;
 
    top: 0;
 	margin:1px auto -8px auto;
    bottom: 0;
    color: #000;
    font-family: sans-serif;
}

.pdf-text-layer > div {
    color: transparent;
    position: absolute;
    line-height:1.3;
}